<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron text-center">
      <h1>My First Bootstrap Page</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-3">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-3">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Column 4</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 5</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 6</h3>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
    </div>
    <div class="table-responsive container">
      <table class="table table-hover">
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </table>
    </div>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
  </body>
</html>
